<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>教育的目的，当是向人传递生命的气息。</string>
	<string>天地纵有命，岂肯事从之！</string>
	<string>我已经笑着，就像花依旧开着。可春天未必还在。</string>
	<string>银鞍照白马，飒踏如流星。</string>
	<string>十步一杀人，千里不留行。</string>
	<string>你是不是用了快捷键command+T，哈哈哈，中计了。Xcode会变慢哦。</string>
	<string>想让Xcode速度变回去，接着使用快捷键command+T，直到，回复正常。</string>
	<string>模拟器改变状态栏高度的，正确方式：command+Y</string>
	<string>听了你的话，我仿佛受了审判。</string>
	<string>无比委屈，又无从分辨。</string>
	<string>在离开前，我想问。</string>
	<string>那真多是你的意思吗？</string>
	<string>语言，是窗户，或者是墙。</string>
	<string>他们审判我们，或者让我们自由。</string>
</array>
</plist>
